:root {
    --background-dark: radial-gradient(circle at 30% 0%, #1a2e2b 0%, #0f1613 70%);
    --accent-main: #4cf5c3;
    --accent-btn: #2bb894;
    --accent-text: #7ffcd4;
    --text-main: #eeeeee;
    --text-placeholder: #6b8f81;
    --text-link: #8fd9c4;
    --delete-btn: rgba(255,90,90, *);
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background: var(--background-dark);
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    border-radius: 5px;
    transition: 300ms
}

button:hover {
    background: white;
    color: #5f9341;
}

#delete-btn {
    background: white;
    color: #B00000;
    border: 1px solid #B00000;
    transition: 300ms
}

#delete-btn:hover {
    background: #B00000;
    color: white;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


